# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
node_modules/

# Build outputs
build/
dist/
out/

# Testing
coverage/
*.lcov

# Next.js
.next/
out/
vercel/

# Gatsby files
.cache/
public/

# Netlify
.netlify/

# Parcel
.cache/

# Static files
*.css
*.min.css
*.map

# Local environment files
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Miscellaneous
node_modules/
dist/
coverage/
*.env
*.local
